  <%= form.error_messages %>

	<table class="list-table">
		<tr class="odd">
			<td>Beginn:</td>
			<td>Ende:</td>
		</tr>
		<tr class="even">
			<td><%= form.calendar_date_select :from_date %></td>
			<td><%= form.calendar_date_select :to_date %></td>
		</tr>
		<tr class="odd">
			<td colspan="2">Kommentar:</td>
		</tr>
		<tr>
			<td colspan="2"><%= form.text_area :comment ,:style => "width: 100%;"%></td>
		</tr>
		<tr>
			<td colspan="2"><%= form.submit 'Speichern' %></td>
		</tr>
	</table>
  </p>
<%= form.hidden_field :subject_id%>
<%= form.hidden_field :type%>